@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: peru;
}

header h1{
    padding: 10px;
    text-align: center;
}

section{
   background-color: beige;
}

section > p {
    line-height: 3vw;
     width: 100vh;
     margin-left: 10px;
}

section.normal{
    background-color: darkgray;
}
section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
}

section#img1{
    background-image: url(../Imagens/Correio-de-Atibaia-Racismo-recreativo.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem {
    background-image: url(../Imagens/racismo.webp);
    background-size: cover;
    background-attachment: fixed;
}




