@charset "UTF-8";

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts-text/moderniz/Moderniz.otf);
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts-text/titan_one/TitanOne-Regular.ttf);
}
@font-face {
      font-family: 'Lato';
    src: url(../fonts-text/evogria/Evogria.otf);
}


:root{
    /*tema do site*/
    --marrom-escuro:#47351F;
    --bege-claro:#D0B79A;
    --marrom-claro-dourado:#C79358;
    --marrom-preto:#14120F;
    --marrom-pouco-claro:#946D41;
    
    /* Fonts de texto*/
    --font-títulos:'Montserrat';
    --font-textos:'Open Sans';
    --font-subtitulos:'Lato';
}
body,html{
    width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0px;
    padding: 0px;  
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(to bottom, var(--marrom-pouco-claro));
    background-attachment: fixed;
}
header h1{
    font-family: var(--font-títulos);
    padding: 10px;
    text-align: center;
    text-shadow: 0px 2px 5px white;
}
section > h2{
    
    color:lightyellow;
    text-shadow: 1px 2px 5px var(--bege-claro);
    font-family: var(--font-subtitulos);
    font-size: 35px;
    
}
section.normal p{
    color: aliceblue;
    font-family: var(--font-textos);
    line-height: 218%;
    padding: 10px 10px 15px 15px;
    font-size: 25px;
}
section.imagem p{
    font-family: var(--font-textos);
    line-height: 218%;
    width: 90vh;
    padding: 10px 10px 15px 15px;
    font-size: 25px;
    text-shadow: 0px 4px 4px black;
}
section.normal{
    background-color: var(--marrom-preto);
}
section.imagem h2{
    padding: 0 30px;
}
section.imagem > p, section.imagem h2{
    
    color: aliceblue;
    border-radius: 10px;
    border: 2px solid white;
    margin-bottom: 10px;
}
section#img1{
    background-image: url(../Imagens/Correio-de-Atibaia-Racismo-recreativo.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem {
        display: grid;
        background-image: url(../Imagens/racismo.webp);
        background-size: cover;
        background-attachment: fixed;
        padding: 20px 0px 20px 0px;
        grid-auto-flow: row;
        align-content: center;
        justify-content: center;
        justify-items: center;

}

section#link a{
    padding: 10px 31vh 10px 31vh;
     background-color: rgba(0, 0, 0, 0.726);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid white;
    font-size: 35px;
    text-decoration: none;
    font-family: var(--font-subtitulos)
}
section#link a:hover{
    color: var(--marrom-pouco-claro);
    transition: 0.5s;
    text-shadow: 2px 2px 5px white;

}