@charset "UTF-8";

@font-face {
    font-family:'Montserrat';
    src: url(../fonts-text/Montserrat/static/Montserrat-SemiBold.ttf) format(opentype);

    font-family: 'Open Sans';
    src: url(../fonts-text/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);

    font-family: 'Lato';
    src: url(../fonts-text/Lato/Lato-Black.ttf);
}

:root{
    /*tema do site*/
    --azul-bem-escuro:#010440;
    --azul-forte:#121AA6;
    --laranja-terroso:#D98B48;
    --vermelho-muito-escuro:#400101;
    --cinza-médio:#A6A6A6;
    
    /* Fonts de texto*/
    --font-títulos:'Montserrat';
    --font-textos:'Open Sans';
    --font-subtitulos:'Lato';
}

body{
    margin: 0px;
    padding: 0px;  
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: peru;
    box-shadow: inset 0px 0px 18px 0px white;
}

header h1{
    font-family: var(--font-títulos);
    padding: 10px;
    text-align: center;
}

section{
   background-color: beige;
}

section > p, h2{
    line-height: 190%;
     width: 100vh;
     margin-left: 10px;
}

section.imagem p, section.normal p{
    font-family: var(--font-textos);
}
section.normal{
    background-color: darkgray;
}


section.imagem > p, section.imagem h2 {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
}

section#img1{
    background-image: url(../Imagens/Correio-de-Atibaia-Racismo-recreativo.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem {
    background-image: url(../Imagens/racismo.webp);
    background-size: cover;
    background-attachment: fixed;
}




